*{

}

body {
  font-family: 'Open Sans', 'monospace';
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;

}

h1, h2 {
  font-family: 'oswald', 'sans-serif';
}

p {

}

img {
  float: left;
  padding-right: 20px;
}